#gestures {
  position: absolute;
  right: 1px;
  top: 226px;
  width: 160px;
  height: 478px;
  padding: 0;
  transition: all 1s;
  overflow: hidden;
  &.hide {
    width:0px;
    overflow: hidden;    
  }
  
  .gesture {
    position: relative;
    width: 160px;
    height: 160px;
  }
  .divider {
    position: relative;
    width: 160px;
    height: 2px;
    background: url(../images/divider.png) no-repeat;
  }
  .rotate {
    background: url(../images/rotate-gesture.png) no-repeat center;
  }
  .move {
    background: url(../images/move-gesture.png) no-repeat center;
  }
  .zoom {
    background: url(../images/zoom-gesture.png) no-repeat center;
  }
}