@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@font-face {
  font-family: 'Naiv-BoldText';
  src: url("../images/Naiv-BoldText.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Naiv-NormalText';
  src: url("../images/naiv-normaltext.ttf") format("truetype");
}
/* line 16, ../css/base.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../css/base.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 27, ../css/base.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 28, ../css/base.scss */
.clearfix:after {
  clear: both;
}

/* line 30, ../css/base.scss */
h2, h3, h4, h5, h6, label, select {
  font-weight: normal;
  font-family: "Droid Sans";
  margin: 0;
  color: #616161;
  -webkit-font-smoothing: antialiased;
}

/* line 38, ../css/base.scss */
h1 {
  font-weight: normal;
  margin: 0;
  color: #1b4677;
  font-family: "Naiv-BoldText";
  font-size: 31px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.4px;
  -webkit-font-smoothing: antialiased;
}

/* line 49, ../css/base.scss */
h2 {
  color: #1b4677;
  font-size: 19px;
  margin-top: 10px;
}

/* line 55, ../css/base.scss */
p {
  color: #616161;
  -webkit-font-smoothing: antialiased;
}

/* line 60, ../css/base.scss */
.form-container .error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

/* line 66, ../css/base.scss */
.form-button {
  font-family: "Naiv-BoldText";
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  border: none;
  padding: 13px 20px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e58735;
  -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE1NyA0NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjY2Q2YzFhIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTU4MTJmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxNTciIGhlaWdodD0iNDQiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(bottom, #cd6c1a 0%, #e5812f 100%);
  background-image: -o-linear-gradient(bottom, #cd6c1a 0%, #e5812f 100%);
  background-image: -webkit-linear-gradient(bottom, #cd6c1a 0%, #e5812f 100%);
  background-image: linear-gradient(bottom, #cd6c1a 0%, #e5812f 100%);
  margin: 0;
}
/* line 67, ../css/base.scss */
.form-button:focus {
  outline: 0;
}
/* line 92, ../css/base.scss */
.form-button:hover {
  box-shadow: none;
}
/* line 96, ../css/base.scss */
.form-button.disabled {
  box-shadow: none;
  margin: 2px 0 0 1px;
  background-image: none;
  background-color: #aaa;
}

/* line 3, ../css/header.scss */
.blue-bar {
  position: absolute;
  top: 0px;
  height: 58px;
  border: 1px solid #00ade5;
  background-color: rgba(0, 173, 230, 0.95);
  -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.22);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.22);
}

/* line 14, ../css/header.scss */
.top-left-bar {
  left: 0px;
  width: 100%;
}

/* line 19, ../css/header.scss */
#logo {
  position: absolute;
  left: 29px;
  top: 13px;
  cursor: pointer;
}

/* line 26, ../css/header.scss */
#chevrons {
  position: absolute;
  top: 0px;
  left: 224px;
}
/* line 31, ../css/header.scss */
#chevrons div {
  position: absolute;
  width: 142px;
  height: 58px;
  font-size: 16px;
  font-family: "Naiv-BoldText";
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 22px 8px 0 0;
  background: url(../images/chevrons/sunrun-blue-chevron.png) no-repeat 0 0px;
}
/* line 42, ../css/header.scss */
#chevrons div span {
  font-family: "Naiv-NormalText";
  font-size: 13px;
  text-transform: none;
}
/* line 49, ../css/header.scss */
#chevrons .active {
  color: #1b4677;
  background-image: url(../images/chevrons/white-chevron.png);
}
/* line 54, ../css/header.scss */
#chevrons .completed {
  color: white;
  background-image: url(../images/chevrons/dark-blue-chevron.png);
}
/* line 60, ../css/header.scss */
#chevrons div + div {
  left: 128px;
}
/* line 62, ../css/header.scss */
#chevrons div + div + div {
  left: 256px;
}
/* line 64, ../css/header.scss */
#chevrons div + div + div + div {
  left: 384px;
}
/* line 66, ../css/header.scss */
#chevrons div + div + div + div + div {
  left: 512px;
}
/* line 68, ../css/header.scss */
#chevrons div + div + div + div + div + div {
  left: 640px;
}

/* line 77, ../css/header.scss */
#help {
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 82, ../css/header.scss */
#help.selected {
  background: white;
  color: #00ade6;
}

/* line 88, ../css/header.scss */
#icon-help {
  width: 60px;
  height: 60px;
}

/* line 93, ../css/header.scss */
#contact-info-icon {
  position: absolute;
  top: 10px;
  right: 60px;
  width: 100px;
  height: 48px;
}

/* line 101, ../css/header.scss */
#icon-free-quote {
  position: absolute;
  top: -5px;
  right: 115px;
  height: 48px;
}

/* line 1, ../css/form.scss */
.form-container {
  background-color: #F3F3F3;
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 23px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
/* line 12, ../css/form.scss */
.form-container#monthly-bill, .form-container#home-info {
  margin-top: 0;
}
/* line 15, ../css/form.scss */
.form-container#monthly-bill h2, .form-container#home-info h2 {
  border-bottom: none;
  padding-top: 3px;
}
/* line 19, ../css/form.scss */
.form-container#monthly-bill h2#monthly-bill-title, .form-container#home-info h2#monthly-bill-title {
  border-top: 0;
  float: left;
  top: 5px;
  position: relative;
}
/* line 26, ../css/form.scss */
.form-container#monthly-bill h2#square-footage-title, .form-container#home-info h2#square-footage-title {
  float: left;
  margin-top: 12px;
}
/* line 32, ../css/form.scss */
.form-container#monthly-bill .button-container, .form-container#home-info .button-container {
  border-top: 1px solid lightgray;
  float: left;
  width: 100%;
  margin-top: 20px;
}
/* line 38, ../css/form.scss */
.form-container#monthly-bill .button-container button, .form-container#home-info .button-container button {
  padding-top: 15px;
}
/* line 45, ../css/form.scss */
.form-container#monthly-bill .form-element-container, .form-container#home-info .form-element-container, .form-container#get-started .form-element-container {
  width: 45%;
  float: left;
  margin-right: 15px;
}
/* line 52, ../css/form.scss */
.form-container#home-info {
  margin-top: -60px;
}
/* line 56, ../css/form.scss */
.form-container h1, .form-container p {
  font-family: 'Naiv-NormalText';
  margin: 0;
}
/* line 60, ../css/form.scss */
.form-container h1.home-info-body-text, .form-container p.home-info-body-text {
  margin-top: 20px;
}
/* line 64, ../css/form.scss */
.form-container h1.customer-disclaimer, .form-container p.customer-disclaimer {
  margin-top: 25px;
  font-size: 10px;
}
/* line 70, ../css/form.scss */
.form-container h1 {
  text-transform: uppercase;
}
/* line 74, ../css/form.scss */
.form-container h2 {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
/* line 79, ../css/form.scss */
.form-container .form-label {
  display: block;
  margin-top: 23px;
}
/* line 84, ../css/form.scss */
.form-container .form-input {
  width: 100%;
  margin: 5px 0 0;
  font-size: 14px;
}
/* line 89, ../css/form.scss */
.form-container .form-input.email {
  width: 93%;
}
/* line 94, ../css/form.scss */
.form-container .remove-email, .form-container .add-email {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: grey;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  float: right;
}
/* line 106, ../css/form.scss */
.form-container button {
  margin: 0 auto;
  margin-top: 23px;
  display: block;
  min-width: 175px;
}
/* line 112, ../css/form.scss */
.form-container button:hover {
  margin: 0 auto;
  margin-top: 23px;
}
/* line 118, ../css/form.scss */
.form-container form {
  margin-top: 20px;
}
/* line 122, ../css/form.scss */
.form-container select {
  border: 1px solid #000000;
  height: 28px;
}

/* line 1, ../css/spinner.scss */
#loading {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

/**************************/
/* INFO AND FORM OVERLAYS */
/**************************/
/* line 7, ../css/monsoon.scss */
.overlay {
  padding: 25px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.949);
  -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.22);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.22);
  position: absolute;
  font-family: "Naiv-BoldText";
  width: 490px;
}
/* line 20, ../css/monsoon.scss */
.overlay.address-form {
  left: 0px;
  top: 226px;
  height: 178px;
  width: 505px;
}
/* line 25, ../css/monsoon.scss */
.overlay.address-form input {
  width: 100%;
  margin: 10px 0;
}
/* line 30, ../css/monsoon.scss */
.overlay.address-form button {
  display: block;
  margin-left: auto;
}

/* line 37, ../css/monsoon.scss */
#geocomplete-textbox {
  display: none;
  width: 800px;
  margin: 434px auto;
}

/* line 43, ../css/monsoon.scss */
.pac-item {
  padding: 20px 7px 15px 7px;
}
/* line 46, ../css/monsoon.scss */
.pac-item .pac-item-query {
  padding-right: 10px;
}
/* line 50, ../css/monsoon.scss */
.pac-item span {
  font-size: 28px;
}

/* line 55, ../css/monsoon.scss */
#street-address {
  display: block;
  width: 100%;
  position: relative;
  font-size: 40px;
  padding: 30px 20px;
}

/* line 63, ../css/monsoon.scss */
#large-textbox {
  display: none;
  width: 800px;
  margin: 434px auto;
}

/* line 69, ../css/monsoon.scss */
#large-input {
  display: block;
  width: 100%;
  position: relative;
  font-size: 40px;
  padding: 30px 20px;
}

/* line 77, ../css/monsoon.scss */
#monthly-bill, #home-info {
  left: 0px;
  top: 130px;
}
/* line 81, ../css/monsoon.scss */
#monthly-bill table, #home-info table {
  width: 109.1%;
  margin: 0 auto;
  position: relative;
  left: -9px;
  padding: 0;
}
/* line 87, ../css/monsoon.scss */
#monthly-bill table tr td, #home-info table tr td {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 11.11%;
}

/* line 96, ../css/monsoon.scss */
#monthly-bill {
  width: 472px;
}

/* line 100, ../css/monsoon.scss */
#bill-amount-container {
  text-align: center;
  margin: 20px 0;
}

/* line 105, ../css/monsoon.scss */
#bill-amount {
  width: 102px;
  margin: -10px 10px;
  text-align: center;
}

/* line 111, ../css/monsoon.scss */
#bill-button-container {
  margin: 20px 0 0;
  text-align: center;
}
/* line 114, ../css/monsoon.scss */
#bill-button-container button {
  width: 192px;
  margin: 0;
}

/* line 121, ../css/monsoon.scss */
input[type="text"] {
  padding: 4px 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #4f4f4f;
  border-radius: 6px;
  background-image: -moz-linear-gradient(90deg, white 60%, #d4d4d4 100%);
  background-image: -webkit-linear-gradient(90deg, white 60%, #d4d4d4 100%);
  background-image: -ms-linear-gradient(90deg, white 60%, #d4d4d4 100%);
  font-size: 16px;
  font-family: "Droid Sans";
  color: #1b4677;
}
/* line 134, ../css/monsoon.scss */
input.hint {
  color: #c2c2c2;
}
/* line 137, ../css/monsoon.scss */
input:focus {
  outline: 0;
}

/* line 143, ../css/monsoon.scss */
input[type="range"] {
  -webkit-appearance: none !important;
  width: 90%;
  margin: 30px;
  height: 4px;
  border-radius: 6px;
  background-color: #00ade6;
}
/* line 151, ../css/monsoon.scss */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 10px;
  background: url("../images/slider/handle.png") no-repeat left top;
  height: 30px;
  width: 30px;
}

/* line 160, ../css/monsoon.scss */
div.pac-container::after {
  display: none;
}

/* line 164, ../css/monsoon.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 1, ../css/googleMap.scss */
.map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* line 8, ../css/googleMap.scss */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 1, ../css/googleEarth.scss */
#earth-view-container {
  display: none;
}

/* line 5, ../css/googleEarth.scss */
#move-the-earth-hack {
  position: relative;
  height: 58px;
}
/* line 10, ../css/googleEarth.scss */
#move-the-earth-hack.cover-header {
  z-index: 1;
}

/* line 15, ../css/googleEarth.scss */
.exit-earth {
  background: white;
  top: 160px;
  right: 0;
  position: absolute;
  border: 0;
  width: 45px;
  height: 45px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
/* line 25, ../css/googleEarth.scss */
.exit-earth.iframe-shim {
  z-index: 9;
  opacity: 0;
}

/* line 1, ../css/mapControls.scss */
#google-map-controls {
  position: absolute;
  bottom: 210px;
  right: 0;
}

/* line 7, ../css/mapControls.scss */
.map-control {
  width: 45px;
  height: 45px;
  border: 0;
  background: #ffffff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
/* line 14, ../css/mapControls.scss */
.map-control .button-contents {
  display: block;
  width: 38px;
  height: 34px;
}
/* line 21, ../css/mapControls.scss */
.map-control.zoom-in .button-contents {
  background: url(/images/map-controls/controller_zoom.png) no-repeat 1px 3px;
}
/* line 27, ../css/mapControls.scss */
.map-control.zoom-out .button-contents {
  background: url(/images/map-controls/controller_zoom.png) no-repeat -47px 3px;
}
/* line 33, ../css/mapControls.scss */
.map-control.rotate:disabled {
  opacity: 0.8;
  background-color: #ccc;
}
/* line 38, ../css/mapControls.scss */
.map-control.rotate .button-contents {
  background: url(/images/map-controls/controller_rotate.png) no-repeat 0px 1px;
}
/* line 44, ../css/mapControls.scss */
.map-control.center-on-address .button-contents {
  background: url(/images/map-controls/controller_position.png) no-repeat 2px 3px;
}
/* line 49, ../css/mapControls.scss */
.map-control.earth {
  position: absolute;
  right: 0;
  top: 160px;
  z-index: 1;
}
/* line 55, ../css/mapControls.scss */
.map-control.earth .button-contents {
  background: url(/images/map-controls/earth_icon.png) no-repeat;
}
/* line 60, ../css/mapControls.scss */
.map-control.google-map {
  position: absolute;
  right: 0;
  top: 160px;
}
/* line 65, ../css/mapControls.scss */
.map-control.google-map .button-contents {
  background: url(/images/map-controls/map_icon.png) no-repeat;
  margin: 6px;
}
/* line 70, ../css/mapControls.scss */
.map-control.google-map.visible {
  z-index: 10;
}

/* line 1, ../css/gestures.scss */
#gestures {
  position: absolute;
  right: 1px;
  top: 226px;
  width: 160px;
  height: 478px;
  padding: 0;
  transition: all 1s;
  overflow: hidden;
}
/* line 10, ../css/gestures.scss */
#gestures.hide {
  width: 0px;
  overflow: hidden;
}
/* line 15, ../css/gestures.scss */
#gestures .gesture {
  position: relative;
  width: 160px;
  height: 160px;
}
/* line 20, ../css/gestures.scss */
#gestures .divider {
  position: relative;
  width: 160px;
  height: 2px;
  background: url(../images/divider.png) no-repeat;
}
/* line 26, ../css/gestures.scss */
#gestures .rotate {
  background: url(../images/rotate-gesture.png) no-repeat center;
}
/* line 29, ../css/gestures.scss */
#gestures .move {
  background: url(../images/move-gesture.png) no-repeat center;
}
/* line 32, ../css/gestures.scss */
#gestures .zoom {
  background: url(../images/zoom-gesture.png) no-repeat center;
}

/* line 6, ../css/postcards.scss */
#photo-sphere {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* line 14, ../css/postcards.scss */
#postcards-container {
  position: absolute;
  width: 100%;
  height: 0;
  display: block;
  bottom: 0;
}
/* line 21, ../css/postcards.scss */
#postcards-container.full-height {
  height: 100%;
}

/* line 26, ../css/postcards.scss */
#postcards {
  position: absolute;
  height: 138px;
  bottom: 70px;
  width: 100%;
  display: block;
}

/* line 35, ../css/postcards.scss */
#postcards-inner-wrapper {
  overflow: hidden;
  display: block;
  position: absolute;
  width: 192px;
  transition: all linear .5s;
}
/* line 43, ../css/postcards.scss */
#postcards-inner-wrapper.expand-height {
  height: 138px;
}
/* line 47, ../css/postcards.scss */
#postcards-inner-wrapper.expand-width {
  width: initial;
}
/* line 51, ../css/postcards.scss */
#postcards-inner-wrapper .postcard-container {
  background: #00ade6;
  opacity: 0.949;
  cursor: pointer;
  width: 192px;
  height: 138px;
  float: left;
}
/* line 60, ../css/postcards.scss */
#postcards-inner-wrapper .postcard-container .postcard {
  padding: 15px;
  float: left;
  width: 192px;
  height: 138px;
}
/* line 68, ../css/postcards.scss */
#postcards-inner-wrapper .postcard-container .postcard .postcard-thumbnail {
  width: 173px;
  height: 107px;
}
/* line 75, ../css/postcards.scss */
#postcards-inner-wrapper .postcard-container .postcard.selected {
  padding: 10px;
}
/* line 77, ../css/postcards.scss */
#postcards-inner-wrapper .postcard-container .postcard.selected .postcard-thumbnail {
  border: 5px solid navy;
}

/* line 6, ../css/locations.scss */
.overlay.current-location {
  transition: left 1s;
  left: 0px;
  top: 434px;
  width: 505px;
}
/* line 12, ../css/locations.scss */
.overlay.current-location.hide {
  left: -490px;
}

/* line 18, ../css/locations.scss */
#locations {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
  opacity: 0.949;
}
/* line 26, ../css/locations.scss */
#locations .location {
  cursor: pointer;
  width: 192px;
  height: 194px;
  top: 6px;
  padding: 15px;
  float: left;
  position: relative;
  background-color: white;
}
/* line 36, ../css/locations.scss */
#locations .location .location-name {
  font-family: "Naiv-BoldText";
  color: #1b4677;
  font-size: 16px;
}
/* line 41, ../css/locations.scss */
#locations .location .location-thumbnail {
  position: absolute;
  bottom: 9px;
}
/* line 46, ../css/locations.scss */
#locations .location.active {
  background: #00ade6;
}
/* line 48, ../css/locations.scss */
#locations .location.active .location-name {
  color: white;
}
/* line 54, ../css/locations.scss */
#locations.recessed {
  bottom: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 70px;
}
/* line 63, ../css/locations.scss */
#locations.recessed .location.active {
  height: 200px;
  top: 0;
}

/* line 10, ../css/faqcards.scss */
#faqcards {
  position: absolute;
  width: 930px;
  height: 186px;
  display: block;
  bottom: -7px;
  left: 475px;
}

/* line 19, ../css/faqcards.scss */
.faqcard {
  float: left;
  background: white;
}
/* line 23, ../css/faqcards.scss */
.faqcard.unselected {
  background: #00ade6;
}

/* line 28, ../css/faqcards.scss */
.faqcard-name {
  font-family: "Naiv-BoldText";
  font-size: 14px;
  margin-top: 27px;
  padding: 1px;
  width: 186px;
  text-align: center;
  color: #00ade6;
}
/* line 37, ../css/faqcards.scss */
.faqcard-name.unselected {
  color: white;
}

/* line 42, ../css/faqcards.scss */
.higher-faqcard {
  margin-top: -30px;
}

/* line 46, ../css/faqcards.scss */
.lower-faqcard {
  margin-top: -48px;
}

/* line 50, ../css/faqcards.scss */
#faqcard-content, #faqcard-questions-container {
  position: absolute;
  background: white;
  left: 475px;
}

/* line 56, ../css/faqcards.scss */
#faqcard-content {
  width: 930px;
  height: 470px;
  top: 95px;
}
/* line 61, ../css/faqcards.scss */
#faqcard-content.hidden {
  display: none;
}

/* line 66, ../css/faqcards.scss */
#faqcard-questions-container {
  bottom: 189px;
}
/* line 69, ../css/faqcards.scss */
#faqcard-questions-container.hidden {
  display: none;
}

/* line 74, ../css/faqcards.scss */
#faqcards-container {
  width: 100%;
  height: 100%;
  display: block;
  bottom: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 87, ../css/faqcards.scss */
.faqcard-content-container {
  background: white;
}

/* line 91, ../css/faqcards.scss */
#done-button {
  margin-bottom: 20px;
  margin-left: 255px;
}

/* line 97, ../css/faqcards.scss */
#next-button.not-visible, #previous-button.not-visible {
  visibility: hidden;
}

/* line 102, ../css/faqcards.scss */
#next-button {
  background: #1b4677;
  margin-left: 285px;
}

/* line 107, ../css/faqcards.scss */
#previous-button {
  background: #1b4677;
  margin-left: 34px;
}

/* line 112, ../css/faqcards.scss */
.faqcard-question-container {
  font-family: "Naiv-BoldText";
  color: #00ade6;
  height: 40px;
  padding: 15px;
  border-bottom: 1px solid #00ade6;
}

/* line 120, ../css/faqcards.scss */
.faqcard-question-container:last-child {
  border-bottom: 0;
}

/* line 124, ../css/faqcards.scss */
.faqcard-content-image {
  width: 930px;
  height: 470px;
}

/* line 2, ../css/tour.scss */
.nav-item {
  font-family: "Naiv-BoldText";
  z-index: 1;
  height: 58px;
  color: white;
}

/* line 3, ../css/contactInfo.scss */
#contact-info-container {
  position: relative;
  right: -72%;
  opacity: 0.949;
  z-index: 1;
}

/* line 10, ../css/contactInfo.scss */
#contact-info-form, #thank-you-dialog {
  margin-top: 0px;
  margin-left: -145px;
}

/* line 15, ../css/contactInfo.scss */
#contact-info-form {
  margin-top: 0px;
  margin-left: -145px;
}
/* line 19, ../css/contactInfo.scss */
#contact-info-form.geocomplete {
  position: absolute;
  top: -979px;
}
/* line 25, ../css/contactInfo.scss */
#contact-info-form.bill.help {
  margin-top: 0;
}

/* line 31, ../css/contactInfo.scss */
.contact-info-number {
  margin-bottom: 30px;
}

/* line 35, ../css/contactInfo.scss */
#contact-info-done {
  float: left;
  margin-left: 23px;
}

/* line 40, ../css/contactInfo.scss */
#contact-info-cancel {
  background: #1b4677;
}

/* line 44, ../css/contactInfo.scss */
#contact-info-geocomplete {
  display: none;
  position: relative;
  width: 750px;
  left: -900px;
  top: 473px;
}
/* line 51, ../css/contactInfo.scss */
#contact-info-geocomplete.bill {
  top: 50px;
}

/* line 56, ../css/contactInfo.scss */
#contact-info-address {
  width: 100%;
  font-size: 40px;
  padding: 30px 20px;
}

/* line 62, ../css/contactInfo.scss */
.thank-you-message {
  margin-top: 20px;
}

/* line 67, ../css/contactInfo.scss */
#thank-you-dialog.bill {
  margin-top: -155px;
}

/* line 3, ../css/homeInfo.scss */
.shading-icon {
  margin-left: 120px;
}

/* line 7, ../css/homeInfo.scss */
#home-info {
  width: 530px;
}

/* line 11, ../css/homeInfo.scss */
.cancel-button {
  background: #1b4677;
  position: relative;
  left: 12px;
}

/* line 17, ../css/homeInfo.scss */
.continue-button {
  float: left;
}

/* line 21, ../css/homeInfo.scss */
#sales-reps {
  margin-top: 40px;
  width: 93%;
}

/* line 26, ../css/homeInfo.scss */
#eligible-lower {
  margin-top: 285px;
}

/* line 30, ../css/homeInfo.scss */
#eligible-upper {
  margin-top: 40px;
  background: #00ade6;
}

/* line 35, ../css/homeInfo.scss */
.eligible-upper-text {
  color: white;
  text-align: center;
}
/* line 39, ../css/homeInfo.scss */
.eligible-upper-text.last-line {
  margin-top: 10px;
}

/* line 44, ../css/homeInfo.scss */
.slider-bg-img {
  position: absolute;
  top: 216px;
}

/* line 49, ../css/homeInfo.scss */
.assessment-title {
  border-bottom: 1px solid lightgray;
}

/* line 53, ../css/homeInfo.scss */
#assessment-bill-amount-container {
  text-align: right;
  margin-top: 23px;
}

/* line 58, ../css/homeInfo.scss */
.disclaimer {
  font-size: 14px;
}

/* line 62, ../css/homeInfo.scss */
.roof {
  height: 200px;
  width: 290px;
  background-image: url(/images/quick-assessment/house.png);
  display: inline-block;
  position: absolute;
  top: 165px;
  right: 195px;
}

/* line 73, ../css/homeInfo.scss */
.shade {
  height: 300px;
  width: 528px;
  background-image: url(/images/quick-assessment/shade.png);
  display: inline-block;
  margin-left: -10px;
}

/* line 80, ../css/homeInfo.scss */
.quick-assessment-slider {
  margin-left: 25px;
  margin-top: 5px;
}

/* line 85, ../css/homeInfo.scss */
#square-footage {
  width: 102px;
  text-align: center;
  margin-top: 13px;
  margin-left: 20px;
}

/* line 92, ../css/homeInfo.scss */
.divider {
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
}

/* line 97, ../css/homeInfo.scss */
#quick-assessment-done, #quick-assessment-back {
  margin-top: 13px;
}

/* line 101, ../css/homeInfo.scss */
#quick-assessment-back {
  background: #1b4677;
  float: left;
  margin-left: 30px;
}

/* line 107, ../css/homeInfo.scss */
.animation-img {
  height: 300px;
}

/* line 1, ../css/slider.scss */
.slider-container {
  width: 350px;
  height: 35px;
  position: relative;
  margin: 0 auto;
  top: 12px;
  margin-right: 90px;
}

/* line 10, ../css/slider.scss */
.slider-background {
  margin: 0 auto;
  height: 20px;
  width: 420px;
  background: url("../images/slider/slider.png") no-repeat left top;
  background-size: 420px;
}

/* line 18, ../css/slider.scss */
.ui-slider-handle {
  width: 40px;
  height: 40px;
  background: url("../images/slider/handle.png") no-repeat left top;
  position: absolute;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
}

/**
 * Dragdealer.js 0.9.7
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu CherecheÈ™
 * http://skidding.mit-license.org
 */
/* line 9, ../css/dragdealer.scss */
.dragdealer {
  position: relative;
  height: 27px;
  width: 420px;
  background: url(/images/slider/slider.png);
}

/* line 15, ../css/dragdealer.scss */
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* line 21, ../css/dragdealer.scss */
.dragdealer .red-bar {
  width: 30px;
  height: 30px;
  background: url(/images/slider/handle.png);
}

/* line 26, ../css/dragdealer.scss */
.dragdealer .disabled {
  background: #898989;
}

/* line 8, ../css/video.scss */
#video-form-title {
  color: white;
  margin-left: 57%;
  margin-top: 15px;
  float: left;
}

/* line 15, ../css/video.scss */
#video-form-email {
  margin-left: 2%;
  margin-top: 13px;
  float: left;
}

/* line 21, ../css/video.scss */
#video-form-submit {
  margin-top: 12px;
  margin-left: 2%;
  height: 34px;
  width: 120px;
  padding-top: 7px;
}

/* line 29, ../css/video.scss */
#sunrun-youtube {
  position: absolute;
  top: 0;
}

/* line 34, ../css/video.scss */
#video-hiding-hack {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

/* line 41, ../css/video.scss */
#video-contact-done {
  float: left;
  margin-left: 18px;
  margin-top: 0;
}

/* line 47, ../css/video.scss */
#video-contact-clear {
  background: #1b4677;
}

/* line 51, ../css/video.scss */
#video-contact-form {
  margin-top: 0;
  width: 360px;
  left: 6%;
  padding: 0 30px;
  padding-bottom: 25px;
}

/* line 59, ../css/video.scss */
.video-contact#contact-salesforce-iframe {
  margin-top: 0;
  margin-left: 30%;
}

/* line 64, ../css/video.scss */
#video-contact-done, #video-contact-clear {
  min-width: 120px;
}

/* line 68, ../css/video.scss */
.video-thank-you#thank-you-dialog {
  width: 360px;
  position: absolute;
  top: 0;
  left: 14%;
}

/* line 75, ../css/video.scss */
.video-input-container {
  width: 45%;
  float: left;
  margin-left: 3%;
}

/* line 3, ../css/login.scss */
ul.ui-autocomplete {
  background: white;
  font-family: "Naiv-BoldText";
}

/* line 8, ../css/login.scss */
#loop-mode {
  background: #1b4677;
  float: left;
  margin-left: 15px;
}

/* line 14, ../css/login.scss */
#loop-mode, #login-button {
  min-width: 150px;
}
