<div class="overlay form-container">
  <h1>Bad news&#8212;your home and solar aren't the perfect match</h1>
  <p class="home-info-body-text">We hate playing favorites, but some homes are better for solar than others. And we don't want to sell you a system if it's not right for you.</p>
  <button id="return-to-tour" type="submit" class="form-button">Return to Tour</button>
  <!--<button id='back-eligible' type="submit" class="form-button">Back</button>-->
</div>