<div class="faqcard-content-container">
  <img class="faqcard-content-image" src={{= url}}>
  <button id="previous-button" class="form-button">&lt; Previous</button>
  <button id="done-button" class="form-button">Done</button>
  <button id="next-button" class="form-button">Next ></button>
</div>