<div id="faqcard-content" class="{{= hasFaqcardSelected ? '' : 'hidden' }}"></div>
<div id="faqcard-questions-container"></div>

<div id="faqcards">
  {{ for(var i = 0; i< faqcardCount; i++) { }}
    <div class='faqcard-container'></div>
  {{ } }}
</div>