<div id="google-map-controls">
  <button class="zoom-in map-control"><span class="button-contents"></span></button>
  <button class="zoom-out map-control"><span class="button-contents"></span></button>
  <button class="rotate map-control" {{= !rotate ? "disabled" : "" }}><span class="button-contents"></span></button>
  
  <button class="center-on-address map-control"><span class="button-contents"></span></button>  
</div>

