<div id="faded-in-map-canvas" class="map-canvas" style="display: none;"></div>
<div id="map-canvas" class="map-canvas" style="display: none;"></div>
<div id="map-controls-container"></div>

<div id="earth-view-container">
  <iframe class="exit-earth iframe-shim"></iframe>
  <div class="google-map map-control" id="exit-earth-button" xmlns="http://www.w3.org/1999/html">
    <div class="button-contents"></div>
  </div>
</div>
<div id="googleEarthContainer" style="display: none;"></div>
