<div id="photo-sphere"></div>

<div id="postcards">
  <div id="postcards-inner-wrapper">
  {{ for(var i = 0; i< postcardCount; i++) { }}
      <div class='postcard-container'></div>
  {{ } }}
  </div>
</div>