<div id="thank-you-dialog" class="overlay form-container {{= activeStep === 2 ? "bill" : ""}}">
  <h1>Thank you for submitting your contact information</h1>
  <div class="thank-you-message">A customer representative will be in touch with you shortly.</div>
  <div class="button-container">
    <button id='thank-you-done' type="submit" class="form-button">Done</button>
  </div>
</div>