<div id="tour-operator"></div>

<div id="locations-display"></div>

<div id="address-search-container">  
</div>

<div id="monthly-bill-container"></div>

<div id="contact-info-icon" class="nav-item">
  <img id="icon-free-quote" src='images/icon-free-quote.png' />
  Get A Free Quote
</div>
<div id="contact-info-container"></div>
  
<div id="help" class="nav-item">
  <img id="icon-help" src='images/faqcard-icons/question-mark.png' />
</div>

<div id="faqcards-container"></div>
