<iframe id="sunrun-youtube" width="1920" height=1080 src="//www.youtube.com/embed/{{= youtubeId}}?
loop=1
&autoplay=1
&playlist={{= youtubeId}}
&controls=0
" frameborder="0" allowfullscreen></iframe>
<div id="video-header"></div>
<div id="video-hiding-hack"></div>
<div id="contact-info-container"></div>
<div id="loading"></div>