<div class="blue-bar top-left-bar">
  <img src="images/logo.png" width="157" height="27" alt="Sunrun" id="logo" title="Start over">
  <h1 id="video-form-title">See how much you can save with Sunrun solar</h1>
</div>
